body
{
    background-color: #000;
    margin: 0px;
    padding: 0px;
}

header
{
    margin: 0px;
    padding: 0px;
    
}

ul.nav
{
    float: left;
    margin: 10px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;

}
.nav li
{
    color: #000;
    list-style-type: none;
    font-family: 'Geo', sans-serif;
    font-size: 1.75em;
    text-decoration: none;
    width: 200px;
    background-color: #316EFF;
    float: left;
    margin-right: 10px;
    border-radius: 8px;
    border: 5px solid #316EFF;
    height: 60px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.nav li:hover

{
    color: #FFF;
    list-style-type: none;
    font-family: 'Geo', sans-serif;
    font-size: 2em;
    text-decoration: none;
    width: 200px;
    background-color: #12295E;
    float: left;
    margin-right: 10px;
    border-radius: 8px;
    border: 5px solid #12295E;
    height: 60px;
    padding-left: 10px;
}

/* SECONDARY NAV */
ul.secondaryNav
{
    float: left;
    margin: 10px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;

}
.secondaryNav li
{
    color: #000;
    list-style-type: none;
    font-family: 'Geo', sans-serif;
    font-size: 1.75em;
    text-decoration: none;
    width: 200px;
    background-color: #316EFF;
    float: left;
    margin-right: 10px;
    border-radius: 8px;
    border: 5px solid #316EFF;
    height: 60px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.secondaryNav li:hover

{
    color: #FFF;
    list-style-type: none;
    font-family: 'Geo', sans-serif;
    font-size: 2em;
    text-decoration: none;
    width: 200px;
    background-color: #12295E;
    float: left;
    margin-right: 10px;
    border-radius: 8px;
    border: 5px solid #12295E;
    height: 60px;
    padding-left: 10px;
}



.leftContent
{
    clear: left;
    width: 50%;
    background-color: #FF9400;
    border-radius: 8px;
    border: 5px solid #FF9400;
    margin: 30px 10px 30px 10px;
    padding: 20px 10px 10px 10px;
}

.leftContent p
{
    font-family: Helvetica, sans-serif;
    margin-top: 0px;
}

h2
{
    font-family: 'Geo', sans-serif;
    font-size: 1.75em;
    padding: 0xp;
    margin: 0px;
}

h3
{
    font-family: 'Geo', sans-serif;
    font-size: 1.5em;
    padding: 0xp;
    margin: 0px;
}

.planetImage
{
    float: right;
    clear: left;
}